a{
	padding: 15px 18px;
	border-radius: 4px;
	color: white;
	text-decoration: none;
	font-family: Arial, Helvetice, Sans-serif;
}
a{
	background-color: #8B008B;
}
P{color: brown}
h1{color:#8B008B}
